.navBar{
    background-color:rgb(206, 206, 206);
    
}
.Navimg{
    width:80px;
    height:70px;
}
.showName {
    display: block;
}

.hideName {
    display: none;
}

.visible {
    position: absolute;
    background-color: rgb(214, 214, 214);
    right: 13%;
    padding: 5px;
    margin-top: 10px;
    z-index: 1;
}

.userProfileImg{

    cursor: pointer;
    border:2p solid red;
}

.privateNav {
    padding-top: 9px;
}

@media screen and (max-width:992px) {
    .privateNav {
        display: flex;
        flex-direction: column;
    }

}